<h1>Direction#index</h1>
<p>Find me in app/views/direction/index.html.erb</p>

<h1>Listing Directions</h1>

<div id="measurements">
	<% if !@directions.empty? %>
		<% @measurements.each do |single_direction| %>
			<%= single_direction.instruction %>
			<%= link_to "Delete", single_direction, :confirm => 'Are you sure?', :method => :delete %>
			<%= link_to "Edit", edit_direction_path(single_direction)%><br/>
		<% end %>
	<% else %>
		I got nothin'
	<% end %>
	<br/>
</div>