<%#<div id="direction_<%= index %><%#">%>
  <%# fields_for "directions[#{index}]", direction do |f| %>
	    <%#<fieldset>%>
	      <%#= f.label :instruction %>
		  <%#= f.text_field :instruction %>
	    <%#</fieldset>%>
  <%# end %>
<%#</div>%>
<div class="directions">
  <p>
    <%= f.label :instruction, "Instruction" %>
    <%= f.text_field :instruction %>
    <%# f.check_box :_destroy %>
    <%# f.label :_destroy, "Remove" %>
    <%= link_to_remove_fields "remove", f %>
  </p>
</div>