<div id="direction_<%= index %>">
  <% fields_for "directions[#{index}]", direction do |f| %>
	    <fieldset>
	      <% = f.label :instruction %>
		  <% = f.text_field :instruction %>
	    </fieldset>
  <% end %>
</div>